/* Pour les écrans larges */
@media only screen and (min-width: 768px) {
    .scroll-container {
        display: flex;
        gap: 4px;
    }

    .image {
        margin-left: 4px;
        width: calc((100% - 8px) / 3); /* Calcul de la largeur pour 3 images par ligne */
    }
}

/* Pour les écrans étroits (mobiles) */
@media only screen and (max-width: 767px) {
    .scroll-container {
        flex-wrap: nowrap;
        overflow-x: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-overflow-scrolling: touch; /* Pour une meilleure expérience de défilement sur iOS */
    }

    .image {
        margin-left: 4px;
        width: calc(100% - 8px); /* La largeur de chaque image est égale à la largeur de l'écran */
    }

    .flex-container::-webkit-scrollbar {
        display: none; /* Masquer la barre de défilement sur Chrome/Safari */
    }
}
